body,html {
  font-family: system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}

#options {
  position: relative;
  margin: 0 auto;
  min-width: 100px;
  max-width: 340px;
  margin-top: 50px;
  height: 35px;
}
h5 {
  margin: 8px;
}
button {
  background-color: white;
  font-size: 13px;
  border-radius: 3px;
  width: 100px;
  height: 25px;
  font-weight: 600;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  color: #a19da8;
  border: 1.5px solid #a19da8;
  margin: 5px;
}
#button1200:focus {
  background-color: rgb(191,59,39);
  border: none;
  color: white;
}
#button1200 {
  background-color: rgb(191,59,39);
  border: none;
  color: white;
}
#button450:focus {
  background-color: rgb(148,157,72);
  border: none;
  color: white;
}
#button420:focus {
  background-color: rgb(69,106,131);
  border: none;
  color: white;
}

#counts {
  position: relative;
  margin: 0 auto;
  min-width: 100px;
  max-width: 340px;
  margin-top: 10px;
  height: 35px;
}
.count-text {
  margin: 5px;
  text-anchor: center;
  font-weight: 500;
  float: left;
  font-size: 14px;
}
#counttext1200 {
  color: rgb(191,59,39);
}
#counttext420 {
  color: rgb(69,106,131);
}
#counttext450 {
  color: rgb(148,157,72);
}

#graphic {
  position: relative;
  margin: 0 auto;
  max-width: 720px;
  min-width: 600px;
  top: 20px;
  height: 300px;
}
.line {
  fill: none;
  stroke-width: 4;
}
