@font-face {
  font-family: radnika-light;
  src: url("Radnika-Light.otf");
}
@font-face {
  font-family: radnika-bold;
  src: url("Radnika-Bold.otf");
}
@font-face {
  font-family: radnika-medium;
  src: url("Radnika-Medium.otf");
}

body,html {
  font-family: radnika-light;
}
#title {
  position: relative;
  margin: 0 auto;
  min-width: 430px;
  max-width: 550px;
  margin-top: 50px;
}
h1 {
  font-family: radnika-black;
  font-size: 30px;
  text-align: center;
  margin: 0;
}
h3 {
  font-family: radnika-medium;
  font-size: 14px;
  text-align: center;
}
#title-line {
  stroke-width: 2;
  stroke: #a19da8;
}
#options {
  position: relative;
  margin: 0 auto;
  min-width: 100px;
  max-width: 340px;
  margin-top: 20px;
  height: 35px;
}
button {
  background-color: white;
  font-size: 13px;
  border-radius: 3px;
  width: 100px;
  height: 25px;
  font-weight: 600;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  color: #a19da8;
  border: 1.5px solid #a19da8;
  margin: 5px;
  font-family: radnika-medium;
}
#button1200:focus {
  background-color: rgb(191,59,39);
  border: none;
  color: white;
}
#button1200 {
  background-color: rgb(191,59,39);
  border: none;
  color: white;
}
#button450:focus {
  background-color: rgb(148,157,72);
  border: none;
  color: white;
}
#button420:focus {
  background-color: rgb(69,106,131);
  border: none;
  color: white;
}
#graphic {
  position: relative;
  margin: 0 auto;
  max-width: 720px;
  min-width: 600px;
  top: 20px;
  height: 300px;
}
.line {
  fill: none;
  stroke-width: 4;
}
